:root {
    --bs-primary-rgb: rgb;
    --bs-link-color: #F4C2C2;
    --bs-link-hover-color:#212529;
}

.bg-primary {
    --bs-bg-opacity:1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

body {
    position: relative;
}