:root {
    --bs-primary-rgb: 75, 59, 64;
    --bs-link-color: #4B3B40;
    --bs-link-hover-color:#212529;
}

.bg-primary {
    --bs-bg-opacity:1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

