:root {
    --bs-primary-rgb: 75, 59, 64;
    --bs-link-color: #4B3B40;
    --bs-link-hover-color:#212529;
}

.bg-primary {
    --bs-bg-opacity:1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.imgcontainer {
    height: 300px;
    margin: 10px;
}

.imgcontainer {
    text-align: center;
    margin: 50px auto;
}

.img-fluid {
  max-width: 100%;
  height: 300px;
}

media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container 
    max-width: 1320px;
  }

  